@inherits LayoutComponentBase

<PageTitle>RollAttendanceServer - Login</PageTitle>

<div class="auth-page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
