@page "/"
@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* <h3>User Claims:</h3>
@if (userClaims != null)
{
    <ul>
        @foreach (var claim in userClaims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
} *@

@code {
    // private List<Claim> userClaims;

    // protected override async Task OnInitializedAsync()
    // {
    //     var authenticationState = await CustomAuthenticationStateProvider.GetAuthenticationStateAsync();
    //     var user = authenticationState.User;

    //     // Retrieve all claims for the user
    //     userClaims = user?.Claims?.ToList();
    // }
}