# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, when there is a push to the "main" branch.
#
# To use this workflow, you will need to complete the following set-up steps:
#
# 1. Create an ECR repository to store your images.
#    For example: `aws ecr create-repository --repository-name my-ecr-repo --region us-east-2`.
#    Replace the value of the `ECR_REPOSITORY` environment variable in the workflow below with your repository's name.
#    Replace the value of the `AWS_REGION` environment variable in the workflow below with your repository's region.
#
# 2. Create an ECS task definition, an ECS cluster, and an ECS service.
#    For example, follow the Getting Started guide on the ECS console:
#      https://us-east-2.console.aws.amazon.com/ecs/home?region=us-east-2#/firstRun
#    Replace the value of the `ECS_SERVICE` environment variable in the workflow below with the name you set for the Amazon ECS service.
#    Replace the value of the `ECS_CLUSTER` environment variable in the workflow below with the name you set for the cluster.
#
# 3. Store your ECS task definition as a JSON file in your repository.
#    The format should follow the output of `aws ecs register-task-definition --generate-cli-skeleton`.
#    Replace the value of the `ECS_TASK_DEFINITION` environment variable in the workflow below with the path to the JSON file.
#    Replace the value of the `CONTAINER_NAME` environment variable in the workflow below with the name of the container
#    in the `containerDefinitions` section of the task definition.
#
# 4. Store an IAM user access key in GitHub Actions secrets named `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
#    See the documentation for each action used below for the recommended IAM policies for this IAM user,
#    and best practices on handling the access key credentials.

name: Deploy to Amazon Elastic Bean

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-southeast-2
  PROJECT_LOCATION: source/RollAttendanceServer/RollAttendanceServer.csproj
  ELASTIC_BEANSTALK_NAME: RAAPIServerV2
  ELASTIC_BEANSTALK_ENV_NAME: RAAPIServerV2-env

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Create appsettings.json from GitHub Secrets
      run: |
        cat <<EOF > source/RollAttendanceServer/appsettings.json
        {
          "Logging": {
            "LogLevel": {
              "Default": "Information",
              "Microsoft.AspNetCore": "Warning"
            }
          },
          "ConnectionStrings": {
            "ITPDatabase": "${{ secrets.DB_CONNECTION_STRING }}"
          },
          "Jwt": {
            "Key": "${{ secrets.JWT_KEY }}",
            "Issuer": "ITPWebServer",
            "Audience": "ITPWebServerAudience",
            "AccessTokenExpirationMinutes": 15,
            "RefreshTokenExpirationDays": 7
          },
          "Cloudinary": {
            "CloudName": "${{ secrets.CLOUDINARY_NAME }}",
            "ApiKey": "${{ secrets.CLOUDINARY_API_KEY }}",
            "ApiSecret": "${{ secrets.CLOUDINARY_API_SECRET }}"
          },
          "Firebase": {
            "CredentialsPath": "AppData/firebase-service-account.json"
          },
          "AllowedHosts": "*"
        }
        EOF

    - name: Create firebase-service-account.json from GitHub Secrets
      run: |
        cat <<EOF > source/RollAttendanceServer/AppData/firebase-service-account.json
        {
          "type": "${{ secrets.FIREBASE_TYPE }}",
          "project_id": "${{ secrets.FIREBASE_PROJECT_ID }}",
          "private_key_id": "${{ secrets.FIREBASE_PRIVATE_KEY_ID }}",
          "private_key": "${{ secrets.FIREBASE_PRIVATE_KEY }}",
          "client_email": "${{ secrets.FIREBASE_CLIENT_EMAIL }}",
          "client_id": "${{ secrets.FIREBASE_CLIENT_ID }}",
          "auth_uri": "${{ secrets.FIREBASE_AUTH_URI }}",
          "token_uri": "${{ secrets.FIREBASE_TOKEN_URI }}",
          "auth_provider_x509_cert_url": "${{ secrets.FIREBASE_AUTH_PROVIDER_CERT_URL }}",
          "client_x509_cert_url": "${{ secrets.FIREBASE_CLIENT_CERT_URL }}",
          "universe_domain": "${{ secrets.FIREBASE_UNIVERSE_DOMAIN }}"
        }
        EOF

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Install Dependencies
      run: dotnet restore source/RollAttendanceServer/RollAttendanceServer.csproj

    - name: Build Application
      run: dotnet publish source/RollAttendanceServer/RollAttendanceServer.csproj -c Release -o deploy-files

    - name: Zip Application
      run: zip -r deploy-files/${{ github.run_id }}.zip deploy-files/*

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Upload to S3
      run: |
        aws s3 cp deploy-files/${{ github.run_id }}.zip s3://elasticbeanstalk-${{ env.AWS_REGION }}-${{ secrets.AWS_ACCOUNT_ID }}/artifact/dotnet-app/

    - name: Create Elastic Beanstalk Application Version
      run: |
        VERSION_LABEL=${{ github.run_id }}-$(date +%s)
        aws elasticbeanstalk create-application-version \
          --application-name "${{ env.ELASTIC_BEANSTALK_NAME }}" \
          --version-label "$VERSION_LABEL" \
          --source-bundle S3Bucket="elasticbeanstalk-${{ env.AWS_REGION }}-${{ secrets.AWS_ACCOUNT_ID }}",S3Key="artifact/dotnet-app/${{ github.run_id }}.zip"      

    - name: Update Elastic Beanstalk Environment
      run: |
        aws elasticbeanstalk update-environment \
          --application-name "${{ env.ELASTIC_BEANSTALK_NAME }}" \
          --environment-name ${{ env.ELASTIC_BEANSTALK_ENV_NAME }} \
          --version-label ${{ github.run_id }}

    - name: Wait for Deployment to Complete
      run: |
        aws elasticbeanstalk wait environment-updated \
          --application-name "${{ env.ELASTIC_BEANSTALK_NAME }}" \
          --environment-name ${{ env.ELASTIC_BEANSTALK_ENV_NAME }}